<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/home.js" defer></script>
    <title>Document</title>
</head>
<body>
    <h1>Hello world</h1>
    <a href="/api/expenses/add">create new expense</a>
    <% expenses.forEach(expense => { %>
        <div class="card">
            <h1><%= expense.category %></h1>
            <h1><%= expense.price %></h1>
            <h1><%= expense.date %></h1>
            <a href="/api/expenses/<%= expense.id %>">show more</a>
            <a href="/api/expenses/update/<%= expense.id %>">update</a>
            <button onclick="handleDelete('<%= expense.id %>')">Delete</button>
        </div>
    <% }) %>
</body>
</html>